<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/favicons/favicon-16.png" sizes="16x16">
    <link rel="icon" href="/images/favicons/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/images/favicons/favicon-48.png" sizes="48x48">
    <link rel="icon" href="/images/favicons/favicon-64.png" sizes="64x64">
    <link rel="icon" href="/images/favicons/favicon-128.png" sizes="128x128">
    <title>Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header>
      <img src="/images/favicons/favicon-128.png">
      <h1>MoNiSu's Blog</h1>
    </header>
    <nav>
      <ul>
        <li><a href="../">Home</a></li>
        <li><a href="../board">Board</a></li>
      </ul>
    </nav>
    <main>
      <form action="board" method="POST">
        <input type="text" name="text" placeholder="TEXT" required />
        <button type="submit">Post</button>
      </form>
      <table>
        <thead>
          <th>번호</th>
          <th>글쓴이</th>
          <th>글</th>
          <th>작성일</th>
        </thead>
        <% 
          for(let i = 0; i < rows.length; i++) { 
            let sum = (rows[i].idx % 10) + parseInt(rows[i].idx / 10);
        %>
        <tbody>
          <td><%= sum %></td>
          <td><%= rows[i].username %></td>
          <td><%= rows[i].text %></td>
          <td><%= rows[i].created %></td>
        </tbody>
        <% 
          } 
        %>
      </table>
      <ul class="boardList">
        <%
          for(let j = 1; j <= list / 10 + 1; j++) {
            let fontColor = 'black';
            if (`${j}` === nowPage) {
              fontColor = 'blue';
            }
        %>
        <li>
          <a onclick="location='./<%= j %>'" style="color: <%= fontColor %> ">
            <%= j %>
          </a>
        </li>
        <%
        }
        %>
      </ul>
      <button type="button" onclick="location.href='../'">Home</button>
    </main>
    <footer></footer>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>