<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <link rel="icon" href="/images/avicon-16.png" sizes="16x16">
    <link rel="icon" href="/images/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/images/favicon-48.png" sizes="48x48">
    <link rel="icon" href="/images/favicon-64.png" sizes="64x64">
    <link rel="icon" href="/images/favicon-128.png" sizes="128x128">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div id="header">
        <img id="logo" src="/images/favicon-128.png">
        <h1 id="bigName">MoNiSu's Blog</h1>
      </div>
      <div id="nav">
        <ul>
          <li><a href="../">HOME</a></li>
          <li><a href="../board">방명록</a></li>
        </ul>
      </div>
      <div id="main">
        <h1><%= title %></h1>
        <form action="board" method="POST">
          <div>
            <input type="text" name="text" placeholder="text" required />
            <input type="submit" class="button" value="남기기" />
          </div>
        </form>
        <table>
          <tr>
            <th>번호</th>
            <th>글쓴이</th>
            <th>글</th>
            <th>작성일</th>
          </tr>
          <% 
            for(var i = 0; i<rows.length; i++) { 
              let sum = rows[i].idx + rows[i].idx/10 ;
          %>
          <tr>
            <td><%= sum %></td>
            <td><%= rows[i].username %></td>
            <td><%= rows[i].text %></td>
            <td><%= rows[i].created %></td>
          </tr>
          <% 
            } 
          %>
        </table>
      </div>
      <div id="footer"></div>
    </div>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
